.App {
  text-align: center;
}
.red {
  color: red;
}
.bold {
  font-weight: bold;
}

.Button {
  background-color: green;
  color: white;
  font: inherit;
  border: 2px solid blue;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}
.Button:hover {
  background-color: lightgreen;
  color: black;
}
